.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.6%);
  font-size: 22px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.nav-connect:hover{
  transform: scale(1.05);
  transition: 0.3s;
}
